<footer class="page-footer font-small elegant-color-dark">
  
  <style>
    .fa-discord:hover {
      color: #99aab5;
    }
    .fa-youtube:hover {
      color: #FF0000;
    }
    .fa-instagram:hover {
      color: #E1306C;
    }
    .fa-facebook-f:hover {
      color: #8b9dc3;
    }
    .fa-github:hover {
      color: #6e5494;
    }
    .foot-container {
      background-color: #212121;
      background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    }
  </style>

  <div class="foot-container container">

    <div class="row">

      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <a class="" target="_blank" href="https://app.zealcord.xyz/discord">
            <i class="fab fa-discord fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="" target="_blank" href="https://www.youtube.com/c/ZealcordStudio">
            <i class="fab fa-youtube fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="" target="_blank" href="https://www.instagram.com/zealcord_nation">
            <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="" target="_blank" href="https://www.facebook.com/zealcord_nation">
            <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="" target="_blank" href="https://github.com/zealcordNation">
            <i class="fab fa-github fa-lg fa-2x"> </i>
          </a>
        </div>
      </div>

    </div>

  </div>

  <div class="footer-copyright text-center py-3">© 2019
    <a href="https://app.zealcord.xyz"> Zealcord Development</a> | <a href="https://landing.azalelnation.com"
      target="_blank">DwiiUnknown</a>
  </div>

</footer>

</html>