<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
  <title>Zealcord Nation</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Zealcord Nation" />
  <meta name="author" content="Zealcord Nation" />
  <meta content="#54FCFF" name="theme-color" />
  <meta content="#54FCFF" name="msapplication-navbutton-color" />
  <meta property="og:url" content="https://zealcord.xyz/" />
  <meta property="og:image"
    content="https://cdn.glitch.com/1a73fdd7-e35e-4d00-bae9-c0948799b4b5%2Ffavicon.png?v=1563808120538" />
  <meta property="og:description" content="Zealcord Nation Official Website." />
  <meta property="og:footer" content="• zealcord.xyz" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon"
    href="https://cdn.discordapp.com/attachments/615699898020397064/616459734513483805/ZealNation_Logo_Flat.png" />
  <link rel="shortcut icon" type="image/png"
    href="https://cdn.discordapp.com/attachments/615699898020397064/616459734513483805/ZealNation_Logo_Flat.png" />
  
  <style>.view {
    background: url("https://cdn.discordapp.com/attachments/591912550539460618/637269175831887872/648269.jpg") no-repeat center center;
    background-color: #2E2E2E;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #212121;
}

main {
    background-color: #212121;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #212121;
    }

}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}
    
html,
body,
header,
.view {
    height: 100%;
}</style>
  
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
  
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
</head>

<!--Main Navigation-->
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://cdn.discordapp.com/attachments/615699898020397064/616459734513483805/ZealNation_Logo_Flat.png"
          alt="" class="rounded" width="32px" />
        <strong> Zealcord Nation</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/staff" class="nav-link"><i class="fas fa-users"></i>
              Staff Team</a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="https://app.zealcord.xyz" class="nav-link"><i class="fab fa-uber"></i> API</a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="https://app.zealcord.xyz/discord/" class="nav-link"><i class="fab fa-discord"></i>
              Discord</a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="https://www.youtube.com/c/ZealcordStudio" class="nav-link"><i
                class="fab fa-youtube"></i>
              YouTube</a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="https://www.instagram.com/zealcord_nation" class="nav-link"><i
                class="fab fa-instagram"></i>
              Instagram</a>
          </li>
          <li class="nav-item">
            <a target="_blank" thref="https://www.facebook.com/zealcord_nation/" class="nav-link"><i
                class="fab fa-facebook"></i>
              Facebook</a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="https://github.com/zealcordNation/" class="nav-link"><i class="fab fa-github"></i>
              Github</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>