.view {
  background: url("https://api.zealcord.xyz/assets/images/discord_dark.png")
    no-repeat center center;
  background-color: #2e2e2e;
  background-size: cover;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #212121;
}

main {
  background-color: #2e2e2e;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #212121;
  }
}

html,
body,
header,
.view {
  height: 100%;
}
