<%- include("./inc/header.ejs") %>
<div class="view intro-2">
  <div class="full-bg-img">
    <div class="mask flex-center">
      <div class="container text-center white-text wow fadeInUp">
        <h1><b> 405 | Method Not Allowed </b></h1>
      </div>
    </div>
  </div>
</div>
<%- include("./inc/footer.ejs") %>