<html lang="en" class="full-height">

<head>

  <title>Zealcord</title>
  <meta name="title" content="Zealcord ">
  <meta name="description" content="Zealcord Official Website.
A small community that only
prioritizes quality and quantity.">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="zealcord, discord, server, community, developer.">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="DwiiUnknown">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://zealcord.xyz">
  <meta property="og:title" content="Zealcord ">
  <meta property="og:description" content="Zealcord Official Website.
A small community that only
prioritizes quality and quantity.">
  <meta property="og:image"
    content="https://cdn.discordapp.com/attachments/667570106712457237/691915245010157598/Zealcord.gif">

  <link rel="icon" href="https://cdn.discordapp.com/attachments/667570106712457237/691915245010157598/Zealcord.gif" />
  <link rel="shortcut icon" type="image/png"
    href="https://cdn.discordapp.com/attachments/667570106712457237/691915245010157598/Zealcord.gif" />

  <link rel="stylesheet" href="https://assets.azalelnation.com/font-awesome/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://assets.azalelnation.com/bootstrap-material-design/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://assets.azalelnation.com/bootstrap-material-design/css/mdb.min.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />

  <script type="text/javascript" src="https://assets.azalelnation.com/bootstrap-material-design/js/jquery.min.js">
  </script>
  <script type="text/javascript" src="https://assets.azalelnation.com/font-awesome/js/all.min.js"></script>
  <script type="text/javascript" src="https://assets.azalelnation.com/bootstrap-material-design/js/popper.min.js">
  </script>
  <script type="text/javascript" src="https://assets.azalelnation.com/bootstrap-material-design/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="https://assets.azalelnation.com/bootstrap-material-design/js/mdb.min.js"></script>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-4">
      <div class="container">
        <a class="navbar-brand" href="/"><img
            src="https://cdn.discordapp.com/attachments/667570106712457237/691915232494485544/Zealcord_Logo.png" alt=""
            class="rounded" width="44px" /> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/staff">STAFF</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bots">BOT LIST</a>
            </li>
          </ul>

          <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/login"><i class="fab fa-telegram-plane"></i> Login</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="view">
      <div class="full-bg-img">
        <div class="mask rgba-black-strong flex-center">
          <div class="container">
            <div class="white-text text-center wow fadeInUp">
              <img src="https://cdn.discordapp.com/attachments/667570106712457237/691915232494485544/Zealcord_Logo.png"
                alt="" class="rounded mx-auto d-block" width="128px" />
              <h2 class="my-4 text-uppercase"><strong>Zealcord Nation</strong></h2>
              <h5>Developers • Social • Entertainment • Community</h5>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>

  <footer class="page-footer font-small mdb-color darken-4 pt-4">

    <div class="container text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">

          <h5 class="text-uppercase">About US!</h5>
          <p>A small Indonesian community that focused on entertainment and programming.
            <br>Join our <a href="/discord" target="_blank">Discord</a> now :)</p>

        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">


          <h5 class="text-uppercase"></h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!"></a>
            </li>
            <li>
              <a href="#!"></a>
            </li>
            <li>
              <a href="#!"></a>
            </li>
            <li>
              <a href="#!"></a>
            </li>
          </ul>

        </div>

        <div class="col-md-3 mb-md-0 mb-3">

          <h5 class="text-uppercase">Visit Us!</h5>

          <ul class="list-unstyled">
            <li>
              <a target="_blank" href="/discord">
                <i class="fab fa-discord fa-lg white-text"> </i> Discord
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.instagram.com/zealcord/">
                <i class="fab fa-instagram fa-lg white-text"> </i> Instagram
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com/c/ZealcordStudio">
                <i class="fab fa-youtube fa-lg white-text"> </i> YouTube
              </a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/zealcordNation">
                <i class="fab fa-github fa-lg white-text"> </i> Github
              </a>
            </li>
          </ul>

        </div>

      </div>

    </div>

    <div class="footer-copyright text-center py-3">© 2020 <a href="https://github.com/ItzMeDwii" target="_blank"> DwiiUnknown
      </a>
    </div>

  </footer>

</body>

</html>
