<%- include("./inc/header.ejs", {bot, path}) %>
<div class="view intro-2" style="">
  <div class="full-bg-img">
    <div class="mask flex-center">
      <div class="container text-center white-text wow fadeInUp">
        <img src="https://assets.azalelnation.com/304377187057008645/icon_flat.png"
          width="128px" alt="" class="rounded mx-auto d-block" />
        <br />
        <h1><b>Zealcord Nation</b></h1>
        <p>
          Developers &nbsp;&bull;&nbsp; Social &nbsp;&bull;&nbsp;
          Entertainment &nbsp;&bull;&nbsp; Community
        </p>
        <br>
        <a class="btn btn-outline-blue waves-effect" href="https://zealcord.xyz/discord"
          target="_blank">Join Our Discord now! <br> <%= bot.guilds.get("332877090003091456").memberCount%> Members</a>
      </div>
    </div>
  </div>
</div>
<%- include("./inc/footer.ejs") %>