.view {
  background: url("https://dwii.me/css/discord_dark.png") no-repeat center center;
  background-color: transparent;
  background-size: cover;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #212121;
}

main {
  background-color: #2E2E2E;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #212121;
  }
}

html,
body,
header,
.view {
  height: 100%;
}